<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6" style="margin-top: 20px">
      <div class="card border-secondary">
        <div class="card-body bg-primary text-white">
          <div class="row">
            <div class="col-3">
              <i class="fa fa-users fa-5x"></i>
            </div>
            <div class="col-9 text-right">
              <h1>20</h1>
              <h4>Estudiantes</h4>
            </div>
          </div>
        </div>
        <a routerLink="/students" >
          <div class="card-footer bg-light text-secondary">
            <span class="float-left">Mas detalles</span>&nbsp; &nbsp;
            <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6" style="margin-top: 20px">
      <div class="card border-success">
        <div class="card-body bg-success text-white">
          <div class="row">
            <div class="col-3">
              <i class="fa fa-money fa-5x" aria-hidden="true"></i>
            </div>
            <div class="col-9 text-right">
              <h1>4</h1>
              <h4>Productos financieros</h4>
            </div>
          </div>
        </div>
        <a routerLink="/products">
          <div class="card-footer bg-light text-success">
            <span class="float-left">Mas detalles</span>&nbsp; &nbsp;
            <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
